*{
    margin: 0%;  
    padding: 0%;
    color: black;
    background-color: rgb(165, 122, 42);
    

}

#navbar {
    height: 50px;
    background-color: rgb(235, 239, 241);
    color: rgb(238, 245, 245);
    


}


input{
    width: 92%;
    margin-left: 50px;
    background-color: white;
    margin-top: 15px ;
}

img{
    margin-top: 20px;
    margin-left: 20px;
    border: 10px;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    width:300px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

h1{
    margin-top: 20px;
    margin-left: 10px;
    color: green;
}


h2{
     margin-top: 20px;
    margin-left: 10px;
    color: green;
}


ul{
    
     margin-top: 10px;
    margin-left: 50px;
}
li{
    color: green;
    font-weight: bold;
}

p{
    margin-left: 10px;
    margin-top: 10px;
    color: green;
}
a{
    color: green;
}


#two{
   height: 10px;
    width: 150px;
    border: 20px;
    padding: 10px;
    border-radius: 20px;
    color: green;
    background-color: black;
    margin-left: 10px;
    border-color: blue;
    margin-top: 10px;
}
#box{
    height: 10px;
    width: 150px;
    border: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color:green;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    
}






