*{
    margin: 0%;  
    padding: 0%;
    color: black;
    background-color: rgb(172, 245, 182);
    

}


img {
    margin-top: 20px;
    margin-left: 20px;
    border: 10px;
    background-color: rgb(67, 241, 134);
    padding: 10px;
    border-radius: 20px;
    width:15%;
}


main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    
}


h1 {
    margin-top: 20px;
    margin-left: 10px;
    color: blue;
}


h2 {
     margin-top: 20px;
    margin-left: 10px;
    color: blue;
}


ul {
    
     margin-top: 10px;
    margin-left: 50px;
}


li {
    color:  blue;
    font-weight: bold;
}


p {
    margin-left: 10px;
    margin-top: 10px;
    color: blue;
}


a {
    color:  blue;
}


input {
    display: block;
    margin-left: 10px;
    height: 33px;
    border-radius: 10px;
    margin-left: 20px;
    
}



button {
    border-radius: 20px;
    background-color: blue;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    width: 18%;
    height: 33px;
    
}






